.LessonItem{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 0.9rem 0.5rem;
}

.LessonItem:hover{
    cursor: pointer;
    background-color: rgb(25,65,122);
    /* opacity: 0.7; */
    font-weight: bold;
    border-left: 6px solid #C72127;
    color: #FFF
}

.LessonItemActive{
    background-color: rgb(25,65,122);
    /* opacity: 0.7; */
    font-weight: bold;
    border-left: 6px solid #C72127;
    color: #FFF
}