.LessonContent {
	width: 75%;
	height: 90vh;
    /* display: block; */
    /* border: 1px solid #000; */
    border-top: none;
    margin-right: 3.5rem;
    margin-left: 2rem;
    border-left-color: rgba(0,0,0,0.3);
}

h1 {
	text-align: center;
}

.LessonName{
    width: 100%;
    background-color: #346E9F;
    color: #FFF;
    padding-top: 0.9rem;
    padding-bottom: 0.5rem;
    position: relative;
    height: 2.5rem;
    border-top: 1px solid #C83538;
}

.PPTViewer{
    height: 87.5%;
    /* width: 99.5%; */
    border: 2px solid #000;
}

.LessonName span{
    font-size: 25px;
}

.LessonName .Logo{
    position:absolute;
    top: -3.05rem;
    left: -4rem;

    /* top: 0;
    left: 0; */
    /* height: 3rem; */
}

.LessonName .Logo img{
    height: 10rem;
    /* height: 100%; */
}
