.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(32, 38, 48, 0.9);
  position: absolute;
  top: 0;
  left: 0;

  opacity: 1;
  transition: 1s ease-in-out opacity;

  pointer-events: none;

  z-index: 10000;
}

.finished-loading-container {
  opacity: 0;
}
