.navbar {
  /* background: #1f5b80; */
  background: #346e9f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-text {
  margin-right: 3rem;
}

.navbar-nav {
  list-style: none;
}

.navbar-brand {
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 1.4em;
  /* color: #cd3c3f; */
  /* color: #CD3C3F; */
  /* color: yellow; */
  color: rgba(238, 227, 69, 0.9);
  text-shadow: 0 0 0.15rem #80181a;
}

.navbar-brand:hover {
  /* color: #cd3c3f; */
  color: #419641;
}

.nav-links {
  display: flex;
  align-items: center;
  width: 40%;
}

.nav-link-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  font-size: 1em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #d8dee9;
  text-shadow: 0 0 0 0 0 #cd3c3f;
  transition: text-shadow ease-in-out 0.2s;
}

.nav-link:hover {
  color: #e5e9f0;
  text-shadow: 0 0 0.5em #cd3c3f;
}

.nav-btns .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin-left: 1em;
  border-radius: 0%;
  min-width: 6em;
  color: #e5e9f0;
  border: 1px #cd3c3f solid;
}

.nav-btns .btn:hover {
  box-shadow: 0 0 0.3em 0.05em #cd3c3f;
}

.nav-btns .btn:active,
.nav-btns .btn:focus {
  box-shadow: 0 0 0.3em 0.2em #cd3c3f;
}

.nav-btns .btn--login {
  background-color: transparent;
  color: #e5e9f0;
}

.nav-btns .btn--signup {
  background-color: #cd3c3f;
  color: #e5e9f0;
}
