.ProblemContentBody {
	width: 95%;
    /* height: 109vh; */
    /* margin-top: 2rem; */
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
	/* background-color: red; */
	display: flex;
	flex-direction: row;
	padding-bottom: 1rem;
    /* overflow-y: scroll; */
    border-left: 0.5px solid #ddd;
    border-right: 0.5px solid #ddd;
}

