.QuizzesContent{
    width: 100%;
    display: flex;
    flex-direction: row;
}


.QuizzesContentBody{
    margin: 0 0 0 3rem;
    width: 60%;

    margin-bottom: 2rem;

    border-left: 0.3px solid #CCC;
    padding-left: 1.7rem;

    position: relative;
}

.QuizzesMask{
    position: absolute;
    width: 100%;
    height: 90%;
    background: #fff;
    top: 6rem;
    left: 1rem;
    /* opacity: 0.8; */
}

.QuizzesContentBodyHeader{
    display: flex;
    flex-direction: column;
    text-align: left;
}

#QCHeader{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* .QuizzesContentBodyHeader{
    font-size: 30px;
} */

.QuizzesSummited{
    width: 100%;
    background: #419641;
    color: #FFF;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
    font-size:18px;
    margin-top: 1rem;
}

.QuizzesSummited:hover{
    cursor: pointer;
    opacity: 0.7;
}

