.QuizzesContentBody{
    margin: auto;
    width: 60%;

    margin-top: 2rem;
    margin-bottom: 2rem;

    border-left: 0.3px solid #CCC;
    padding-left: 1.7rem;
}

.QuizzesContentBodyHeader{
    display: flex;
    flex-direction: column;
    text-align: left;
}

#QCHeader{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* .QuizzesContentBodyHeader{
    font-size: 30px;
} */

.Summited{
    border: 0.5px solid #000;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size:18px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Summited:hover{
    cursor: pointer;
    background-color: #CCC;
}

