.form-container {
  opacity: 1;
  transition: opacity 0.25s;
}

.closed {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s;
}

.form {
  width: 100vw;
  height: 100vh;
  background-color: rgba(32, 38, 48, 0.7);
  position: absolute;
  top: 0;
  left: 0;

  opacity: 1;
  transition: 1s ease-in-out opacity;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Lato, sans-serif;

  z-index: 100;
}

.form-container {
  display: flex;
  position: relative;
  width: 300px;
  padding: 50px 40px;
  background-color: #fff;
  font-size: 16px;
  border-radius: 5px;
  overflow: hidden; 
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 200;
}

.form-container-inside {
  position: relative;
  width: 90%;
  margin: 1rem auto;
  padding: 10px 0;
}

.form-container-inside:nth-child(1) {
  margin-top: 0;
}

.form-group {
  margin: 30px 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px 0;
  border: none;
  box-shadow: 0 -2px #f3f3f3 inset;
  overflow: hidden;
  outline: none;
}

.form-group label {
  position: absolute;
  left: 0;
  font-size: 1em;
  font-weight: 700;
  transform: translateY(calc(-125% - 5px));
  transition: all 0.25s;
  pointer-events: none;
}

.form-control:placeholder-shown ~ label {
  transform: translateY(calc(-125% - 5px));
  font-size: 1em;
}

.form-control:focus ~ label,
.form-control:not(:placeholder-shown) ~ label {
  transform: translateY(calc(-250% - 5px));
  color: #2E5288;
  font-size: 0.75em;
}

.is-invalid ~ label {
  color: #cd3c3f !important;
}

.underline {
  top: -0.1em;
  background-color: #2E5288;
  height: 0.2rem;
  left: 50%;
  position: relative;
  transition: all 0.2s ease;
  width: 0;
  will-change: width, left;
}

.form-control:focus ~ .underline,
.form-control:not(:placeholder-shown):focus ~ .underline {
  left: 0%;
  width: 100%; 
}

.is-invalid ~ .underline {
  background-color: #cd3c3f !important;
}

.invalid-feedback-container {
  transform: translate(-350px, 3px);
  transition: all 0.25s;
}

.is-invalid:focus + .invalid-feedback-container {
  transform: translate(-350px, 3px);
}

.is-invalid:not(:focus) + .invalid-feedback-container {
  transform: translate(0, 3px); 
}

.invalid-feedback {
  position: absolute;
  color: #cd3c3f;
  font-size: 0.75em;
  font-family: sans-serif;
}

.form .submit-btn {
  width: 100%;
  padding: 1rem 0;
  border-radius: 0;
  outline: none;
  border: 1px solid #2E5288;
  background-color: #2E5288;
  color: #e5e9f0; 
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: Lato, sans-serif;
}

.form .submit-btn:hover {
  box-shadow: 0 0 0.3em 0.05em #2E5288;
}

.form .submit-btn:focus,
.form .submit-btn:active {
  box-shadow: 0 0 0.3em 0.1em #2E5288;
}

.form .cancel-btn {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 700;

  background-color: #cd3c3e00;
  border: 1px solid transparent;
  outline: none;
  text-align: center;
  vertical-align: center;
  box-sizing: border-box;

  position: absolute;
  top: 1rem;
  right: 1rem;

  transition: all ease-in-out 0.25s;
}

.form .cancel-btn:hover {
  color: #cd3c3f;
  border: 1px solid #cd3c3f;
  background-color: #cd3c3e3b;
}
