.SubmitBody {
	width: 65%;
	height: 100%;
	/* text-align: center; */
	display: flex;
	flex-direction: column;
    align-items: left;
    margin-bottom: 3rem;
    margin-left: 2rem;
    padding-right: 2rem;
}

.SubmitTitle{
    width: 100%;
    text-align: left;
    margin-top: 2rem;
    font-size: 1.7rem;
    padding-bottom: 1.5rem;
    border-bottom: 0.3px solid #DDD;
}

.SubmitProblemId{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: left;
}

.SubmitProblemIdTitle{
    /* font-size: 20px; */
    font-weight: 700;
}

.SubmitProblemIdId{
    width: 100%;
    border: 0.5px solid #bbb;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
    margin-top: 0.5rem;
}


.SubmitLanguage{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: left;
}

.SubmitLanguageTitle{
    /* font-size: 20px; */
    font-weight: 700;
}

.SubmitLanguageLanguage{
    width: 100%;
    border: 0.5px solid #bbb;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
    margin-top: 0.5rem;
}