.SubmitResultBody{
	/* display: flex;
    flex-direction: row; */
    margin: auto;
    width: 45%;

    margin-top: 2rem;
    margin-bottom: 2rem;

    /* overflow-y: auto;
    height: 20vh; */
}

.SubmitResultBodyHeader{
    font-size: 30px;
}